<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous">
    </script>

    <title>Lab 3</title>
</head>
<style>
    .inner-wrapper {
        max-width: 1380px;
    }
</style>
<body>
<header class="inner-wrapper">
    <div class="inner-wrapper">
        <nav>
            <div class="flex_container">
                <img src="assets/images/nstu.png" width="90" height="90" alt="nstu" class="nstuImg">
                <h1 class="labHeader">Лабораторная работа №3</h1>
            </div>
        </nav>
    </div>
</header>
<main class="inner-wrapper">
    <article>
        <section>
            <div class="title_container">
                <div class="title_name">Проверка знаний таблицы умножения</div>
                <div class="title_border"></div>
            </div>
            <div>
                <form id="firstForm">
                    <fieldset>
                        <div class="square">
                            <b>1</b>
                        </div>
                        <input type="radio" id="f1q1" name="q1" value="true">
                        <label for="f1q1"> 9 * 9 = 81</label><br>
                        <input type="radio" id="f1q2" name="q1" value="false">
                        <label for="f1q2"> 8 * 9 = 70</label><br>
                        <input type="radio" id="f1q3" name="q1" value="false">
                        <label for="f1q3"> 7 * 7 = 47</label>
                        <div class="square">
                            <b>2</b>
                        </div>
                        <input type="radio" id="f2q1" name="q2" value="true">
                        <label for="f2q1"> 6 * 6 = 36</label><br>
                        <input type="radio" id="f2q2" name="q2" value="false">
                        <label for="f2q2"> 5 * 5 = 30</label><br>
                        <input type="radio" id="f2q3" name="q2" value="false">
                        <label for="f2q3"> 4 * 5 = 18</label>
                        <div class="square">
                            <b>3</b>
                        </div>
                        <input type="checkbox" id="f3q1" name="q31" value="true">
                        <label for="f3q1"> 3 * 3 = 9</label><br>
                        <input type="checkbox" id="f3q2" name="q32" value="true">
                        <label for="f3q2"> 2 * 2 = 4</label><br>
                        <input type="checkbox" id="f3q3" name="q33" value="false">
                        <label for="f3q3"> 1 * 2 = 3</label>
                        <div class="flex_button">
                            <input type="submit" value="Get result" class="butt res_butt">
                        </div>
                    </fieldset>
                </form>

            </div>
        </section>
    </article>
    <!--  aside будет виден только по высоте article  -->
    <aside>

    </aside>
</main>
<footer class="inner-wrapper">
    <nav>
        <span id="message">Выполнил студент группы АВТ-143 Кувандыков Р.Н.</span>
    </nav>
</footer>
</body>
<script>

</script>
</html>