.flex_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.labHeader {
    justify-self: flex-end;
}

html {
    font-family: "Pixelify Sans", sans-serif;
    scroll-behavior: smooth;
    font-size: 20px;
}


footer.inner-wrapper {
    height: 90px;
    width: 100%;
    background-color: bisque;
    box-shadow: 0 3px 8px 0 rgb(147 123 94);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1.labHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
}

.title_border {
    width: 99%;
    border: 1px solid #000000;
    position: relative;
    bottom: 18px;
    z-index: 100;
}

.title_name {
    z-index: 101;
    background-color: #fff;
    text-align: center;
    padding: 0 25px;
}

.title_container {
    width: 100%;
    font-size: 20px;
    line-height: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1 0;
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}


article {
    width: 100%;
}

header {
    margin-bottom: 6px;
    width: 100%;
    background-color: bisque;
    box-shadow: 0 3px 8px 0 rgb(147 123 94);
    border-radius: 0 0 20px 20px;
}

/*i.icon-right-arrow {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    transform: rotateX(180deg);*/
/*}*/

/*a.btn.btn-sm.btn-hover-fill:hover i.icon-right-arrow:first-child {*/
/*    width: auto;*/
/*    padding-left: 0;*/
/*    transform: translateX(0px);*/
/*    opacity: 1;*/
/*}*/

/*a.btn.btn-sm.btn-hover-fill:hover i.icon-right-arrow:last-child {*/
/*    padding-left: 0;*/
/*    transform: translateX(90px);*/
/*    opacity: 1;*/
/*    width: auto;*/
/*}*/

/*a.btn.btn-sm.btn-hover-fill:hover i.icon-left-arrow:first-child {*/
/*    width: auto;*/
/*    padding-left: 0;*/
/*    transform: translateX(0px);*/
/*    opacity: 1;*/
/*}*/

/*a.btn.btn-sm.btn-hover-fill:hover i.icon-left-arrow:last-child {*/
/*    padding-left: 0;*/
/*    transform: translateX(90px);*/
/*    opacity: 1;*/
/*    width: auto;*/
/*}*/

/*a.btn.btn-sm.btn-hover-fill:hover span {*/
/*    width: auto;*/
/*    padding-left: 0;*/
/*    transform: translateY(-5px);*/
/*    opacity: 1;*/
/*}*/

/*a.btn.btn-sm.btn-hover-fill span {*/
/*    transition: transform 0.3s ease-in-out;*/
/*    width: auto;*/
/*    padding-left: 0;*/
/*    transform: translateY(0px);*/
/*    opacity: 1;*/
/*}*/


/*i.icon-right-arrow:first-child {*/
/*    transform: translateX(-90px);*/
/*    opacity: 1;*/
/*    width: auto;*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/

/*i.icon-right-arrow:last-child {*/
/*    transform: translateX(5px);*/
/*    opacity: 1;*/
/*    width: auto;*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/


/*i.icon-right-arrow:before {*/
/*    background: url(../images/arrow_right.png) center center no-repeat;*/
/*    content: "";*/
/*    display: block;*/
/*    background-size: contain;*/
/*    width: 34px;*/
/*    height: 41px;*/
/*    margin: 0 15px 0 0;*/
/*}*/

/*i.icon-left-arrow:before {*/
/*    background: url(../images/arrow_left.png) center center no-repeat;*/
/*    content: "";*/
/*    display: block;*/
/*    background-size: contain;*/
/*    width: 34px;*/
/*    height: 41px;*/
/*    margin: 0 15px 0 0;*/
/*}*/

/*i.icon-left-arrow:first-child {*/
/*    transform: translateX(-90px);*/
/*    opacity: 1;*/
/*    width: auto;*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/

/*i.icon-left-arrow:last-child {*/
/*    transform: translateX(5px);*/
/*    opacity: 1;*/
/*    width: auto;*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/

/*a.btn.btn-sm.btn-hover-fill {*/
/*    color: black;*/
/*    border: 1px solid #c3c3c3;*/
/*    border-radius: 5px;*/
/*    width: fit-content;*/
/*    overflow: hidden;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: 15px 0 0 0;*/
/*    background: #ffe4c4;*/
/*}*/

fieldset {
    border: none;
    font-size: 30px;
}

/*form{*/
/*    border: 1px black solid;*/
/*}*/

.square {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 40px;
    border: 2px black solid;
}

b {
    font-size: 25px;
    margin-top: 6px;
}

.butt:hover {
    background-color: #fff0de;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    border-radius: 3px;
    color: rgba(0, 0, 0, .8);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}

.butt {
    background-color: bisque;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    border-radius: 3px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, .8);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}

.butt:focus {
    background-color: #e7cfb2;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    border-radius: 3px;
    color: rgba(0, 0, 0, .8);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}

.flex_button{
    display: flex;
    justify-content: center;
}

.flex_info{
    display: flex;
    justify-content: center;
}